# compile + temp directories
db
incremental_db
simulation
output_files
.qsys_edit
pll_sim
unnamed

# backup files
*.bak

# random file types
*.qws
*.qpf
*.qsf
*.f
*.bsf
*.cmp
*.ppf
*.qip
*.sip
*.spd
*.rpt
*.vo